body {
  background-image: url("./img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid rgb(33, 126, 87);
  border-radius: 10%;
  max-width: 50%;
  max-height: 50%;
}
